<div class="container-fluid">
  <h1>Guest Dashboard</h1>
  <a href="/admin/guests/new" class='col'><button type="button" class="btn btn-primary">Upload Guest List</button></a>
  <a href="/admin/messages/new" class='col'><button type="button" class="btn btn-primary">Compose Email</button></a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Plus One</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each do |guest| %>
        <tr>
          <td><%= guest.name %> </td>
          <td><%= guest.email %> </td>
          <td><%= guest.plus_ones.pluck(:first_name).join(', ') %> </td>
          <td> <%= link_to 'edit', edit_admin_guest_path(guest) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h1>Messages</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Sent?</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |m| %>
        <tr>
          <td><%= m.subject %> </td>
          <td><%= m.sent_on ? m.sent_on.to_s : 'draft' %> </td>
          <td><%= link_to 'Edit', edit_admin_message_path(m) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
