<!DOCTYPE html>
<html>
  <head>
    <title>Cayley and Jack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash">
      <% flash.each do |klass, msg| %>
      <div class="container">
        <div class="alert-info alert">
          <strong>  <%= msg %></strong>
        </div>
        
      </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
